.banner {
  height: 400px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.unsplash-photo {
  margin-bottom: 30px;
}
.thumbnail-size {
  height: 250px;
}
.thumbnail-size img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.uploader-small-avatar {
  position: absolute;
  bottom: 15%;
  left: 8%;
}

.uploader-avatar-name {
  position: absolute;
  color: #fff;
  bottom: 11%;
  left: 18%;
}

.image-download-button {
  position: absolute;
  bottom: 11%;
  right: 10%;
}

.image-download-button p a {
  color: #fff;
  text-decoration: none;
}

/* user page*/

.user-name {
  color: #4e4e4e;
}

.user-name:hover {
  text-decoration: none;
}

.user-icon {
  height: 15px;
  color: red;
  margin: 5px 5px 2px 15px;
  justify-content: center;
}
